@media screen and (min-width: 450px) {

    a{
        color: #fff;
        text-decoration: none;
    }
    
    body {
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-family: Arial, sans-serif;
        color: #fff;
        background-color: black;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .headerr {
        background-color: #000000;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 1000;
        box-sizing: border-box;
    }
    
    .menu-responsive, .responsive-icon{
        display: none;
    }

    .logo img {
        max-width: 140px;
        padding: 0;
    }
    
    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
    }
    
    .menu ul li {
        flex: 1; 
        text-align: center;
        padding: 1em;
    }
    
    .menu ul li a {
        font-weight: 700;
        padding: 10px;
    }
    
    .menu ul li a:hover {
        border-bottom: 3px solid #38dbffb7;
    }
    
    .sociales img{
        width: 30px;
        margin: 0px 10px;
        border-radius: 10px;
    }

    .sociales img:hover{
        background-color: #ffffff6c;
    }


    .contenedor-formulario{
        width: 50%;
        margin: 10% 0px;
        background-color: #ffffff0f;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        border: 2px solid #38dbff; 
        padding: 50px 40px;
    }

    .contenedor-formulario-titulo{
        margin: 0;
        margin: 50px 0px;
    }

    .formulario{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pestaña{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-registros{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 30px 0px;
    }

    .botones p{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 50px 0px;
        padding: 12px  80px ;
        background-color: #38dbff;
        border-radius: 10px;
        color: #fff;
    }
    .botones p:hover{
        background-color: #ffffff4a;
        color: #ffffff81;
    }

    .seccion-registros{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 15px;
    }

    .registros{
        flex: 1;
        border: none;
        margin: 5px 0px;
        padding: 10px 5%;
        border-radius: 10px;
        background-color: #ffffff31;
        color: #fff;
        font-weight: 700;
        max-width: 400px;
    }

    .registros:hover{
        background-color: #ffffff0d;
    }

    .oculto{
        display: none;
    }

    #segunda-pestaña h1{
        margin: 0px 0px 40px 0px;
    }

    #boton_2 p{
        margin: 40px 0px 0px 0px;
    }

    #formulario-2{
        flex-direction: row;
    }

    .formulario-planes{
        flex: 1;
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 75px 0px;
        margin: 0px 40px;
        border-radius: 10px;
        background-color: #58585800;
        border: 2px solid #38dbff; 
    }

    .formulario-planes:hover{
        background-color: #58585878;
    }

    .activo{
        transform: translateY(-10px);
        box-shadow: 0px 60px 20px rgba(0, 0, 0, 0.2);
        background-color: #58585878;
    }

    #formulario-planes-2{
        background-color: #38dbff00;
        padding: 95px 0px;
    }

    #formulario-planes-2:hover{
        background-color: #38dbff76;
    }

    #formulario-planes-2.activo {
        background-color: #38dbff76;
    }

    #formulario-3{
        flex-direction: row;
    }

    .formulario-semana{
        flex: 1;
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 30px 0px;
        margin: 50px 20px 60px;
        border-radius: 10px;
        background-color: #58585800;
        border: 2px solid #38dbff;
    }

    .formulario-semana:hover{
        background-color: #58585878;
    }

    .ubicacion{
        background-color: #101010;
        display: flex;
    }

    .ubicacion .texto{
        flex: 1;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ubicacion .texto h1{
        margin: 0px;
        padding-bottom: 20px;

    }

    .ubicacion .texto h2{
        color: #adeffe;
        margin: 0px;
        padding-bottom: 10px;

    }

    .ubicacion .texto p{
        margin: 0px;
        padding-bottom: 10px;
    }

    .a1{
        text-decoration: none;
        color: #ffffff84;
    }

    .a1:hover{
        color: #ffffff;
    }

    .contacto {
        list-style-type: none;
        padding-left: 0;
    }
    
    .contacto li {
        margin-bottom: 0px;
        padding-bottom: 10px;
    }
    
    .contacto li img {
        width: 15px;
        margin: 0px;
        padding-right: 10px;
    }

    #sociales2{
        margin-top: 40px;
    }

    .ubicacion .pre-mapa{
        flex: 1;
        padding: 50px;
    }    

    #map{
        height: 500px;
        width: 100%;
        border-radius: 15px;
    }


    .footer {
        background-color: #000000;
        color: #fff;
        padding: 20px 0px;
        text-align: center;
        z-index: 999;
        margin-top: auto;
    }
    
    
    .boton-chat a{
        background-color: #38dbff7f;
        padding: 8px;
        position: fixed;
        bottom: 5%;
        right: 2%;
        z-index: 1000;
        border-radius: 20%;
    }
    
    .boton-chat-icon{
        width: 45px;
        opacity: 0.4;
    }
    .boton-chat a:hover{
        background-color: #38dbff;
    }

}




























@media screen and (max-width: 450px) {


    a{
        color: #fff;
        text-decoration: none;
    }
    
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-family: Arial, sans-serif;
        color: #fff;
        background-color: black;
        display: flex;
        flex-direction: column;
        }
    
    .headerr {
        flex: 0;
        position: fixed;
        width: 100%;
        z-index: 1000;
        box-sizing: border-box;
        display: flex;
        background-color: #000000;
    }

    .menu, .sociales, .logo {
        display: none;
    }

    .responsive-icon{
        flex: 1;
        padding: 20px 30px;
        width: 30px;
        right: 0;
    }
    .responsive-icon img{
        width: 30px;
    }

    .menu-responsive{
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 75px;
        position: fixed;
        display: none;
        padding-top: 30px;
    }
    .menu-responsive_visible{
        display: flex;
        left: 0;
        transition: left 0,3s;
        background-color: #000000;
    }

    .responsive-menu ul{
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .responsive-menu li{
        padding: 10px;
    }

    .responsive-logo img{
        width: 150px;
    }

    .responsive-sociales img{
        width: 40px;
        padding: 15px;
    }
    
    .contenedor-formulario{
        margin-top: 75px;
        flex: 1;
        width: 100%;
        background-color: #ffffff0f;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 3px solid #38dbff;
        border-bottom: 3px solid #38dbff;
        padding: 20px 0px;
        position: relative;
    }

    .contenedor-formulario-titulo{
        margin: 0;
        margin: 50px 0px;
        text-align: center;
    }

    .formulario{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-registros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 30px 0px;
    }

    .botones p{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 50px 0px;
        padding: 12px  80px ;
        background-color: #38dbff;
        border-radius: 10px;
        color: #fff;
    }
    .botones p:hover{
        background-color: #ffffff4a;
        color: #ffffff81;
    }

    .seccion-registros{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 15px;
    }

    .registros{
        flex: 1;
        border: none;
        margin: 2% 0;
        padding: 8% 20% 8% 1.5%;
        border-radius: 10px;
        background-color: #ffffff31;
        color: #fff;
        font-weight: 700;
        width: 90%;
    }
    
    .registros:hover{
        background-color: #ffffff0d;
    }

    .oculto{
        display: none;
    }

    #segunda-pestaña h1{
        margin: 0px 0px 40px 0px;
    }

    #formulario-2{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .formulario-planes{
        flex: 1;
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 50px 0px;
        margin: 15px 0px;
        width: 80%;
        border-radius: 10px;
        background-color: #58585800;
        border: 2px solid #38dbff; 
    }

    .formulario-planes:hover{
        background-color: #58585878;
    }

    .activo{
        transform: translateY(0px);
        box-shadow: 0px 60px 20px rgba(0, 0, 0, 0.2);
        background-color: #58585878;
    }

    #formulario-planes-2{
        background-color: #38dbff00;
    }

    #formulario-planes-2:hover{
        background-color: #38dbff76;
    }

    #formulario-planes-2.activo {
        background-color: #38dbff76;
    }

    #formulario-3{
        flex-direction: column;
    }

    .formulario-semana{
        flex: 1;
        display: flex;
        align-content: center;
        justify-content: center;
        width: 80%;
        padding: 30px 0px;
        margin: 0px 0px 60px;
        border-radius: 10px;
        background-color: #58585800;
        border: 2px solid #38dbff;
    }

    .formulario-semana:hover{
        background-color: #58585878;
    }

    .ubicacion{
        background-color: #101010;
        display: flex;
        flex-direction: column;
        flex: 1
    }

    .ubicacion .texto{
        flex: 1;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ubicacion .texto h1{
        margin: 0px;
        padding-bottom: 20px;

    }

    .ubicacion .texto h2{
        color: #adeffe;
        margin: 0px;
        padding-bottom: 10px;
    }

    .ubicacion .texto p{
        margin: 0px;
        padding-bottom: 10px;
    }

    .a1{
        text-decoration: none;
        color: #ffffff84;
    }

    .a1:hover{
        color: #ffffff;
    }

    .contacto {
        list-style-type: none;
        padding-left: 0;
    }

    .contacto li {
        margin-bottom: 0px;
        padding-bottom: 10px;
    }
    
    .contacto li img {
        width: 15px;
        margin: 0px;
        padding-right: 10px;
    }

    #sociales2{
        margin-top: 40px;
    }

    .ubicacion .pre-mapa{
        flex: 1;
    }    

    #map{
        height: 300px;
        width: 100%;
    }

    .footer {
        background-color: #000000;
        color: #fff;
        padding: 20px 0px;
        text-align: center;
        z-index: 999;
        margin-top: auto;
    }
    
    
    .boton-chat a{
        background-color: #38dbff7f;
        padding: 8px;
        position: fixed;
        bottom: 4%;
        right: 5%;
        z-index: 1000;
        border-radius: 20%;
    }
    
    .boton-chat-icon{
        width: 45px;
        opacity: 0.4;
    }
    .boton-chat a:hover{
        background-color: #38dbff;
    }




}
