/* Estilos para pantallas con menos de 450px */
@media screen and (min-width: 450px) {

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

/* Header */
.header{
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 1000;
    grid-row: 1;
}

.header-grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-logo{
    grid-column: 1/1;
}

.header-logo a img{
    width: 120px;
}

.header-nav{
    grid-column: 2/2;
}
.header-nav ul {
    list-style: none;
    text-align: center;
}

.header-nav ul li {
    display: inline;
}

.header-nav ul li a:hover {
    background-color: #2c2c2c;
}

.header-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 40px;
}

/* Header */

/* contenedor */
.contenedor{
    background-color: #1b1b1b;
    height: 100%;
    grid-row: 2;

}


/* contenedor */

/* footer */
.footer {
    background-color: #051fe0;
    grid-row: 3;
}
/* footer */

/* Whatsapp Boton */
.boton-chat{
    background-color: #b4b6c6;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 30%;
}

.boton-chat img{
    width: 60px;
}
/* Whatsapp Boton */

}