@media screen and (max-width: 450px) {
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    font-size: 18px;
}

/* Header */
.header{
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-logo{
    margin: 10px;
    
}

.header-logo a img{
    width: 80px;
}

.header-nav{
    margin-bottom: 0px;
}

.header-nav ul {
    list-style: none;
    text-align: center;
}

.header-nav ul li {
    display: inline-block;
}

.header-nav ul li a:hover {
    background-color: #2b2a2a;
}

.header-nav ul li a {
    display: block;
    padding: 20px;
    color: #ffffff;
    text-decoration: none;
}
/* Header */

/* contenedor */






/* contenedor */


/* footer */

/* Whatsapp Boton */
.boton-chat{
    background-color: #b4b6c6;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 30%;
}

.boton-chat img{
    width: 60px;
}
/* Whatsapp Boton */
}
