@media screen and (max-width: 450px) {

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    font-size: 14px;
}




/* Whatsapp Boton */
.boton-chat{
    background-color: #b4b6c6;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 30%;
}

.boton-chat img{
    width: 60px;
}
/* Whatsapp Boton */

}